@import './../../placeholder.mixins.scss';

@mixin placeholder-img {
    &.placeholder-img,
    .placeholder-img {
        @include placeholder-animation();

        &,
        & .image.header:after,
        &.image.header:after,
        .image.header:after,
        > :before {
            background-color: var(--base-color);
        }

        &.square.image:not(.header),
        & .square.image:not(.header) {
            height: 0;
            overflow: hidden;
            padding-top: 100%;
        }

        &.rectangular.image:not(.header),
        & .rectangular.image:not(.header) {
            height: 0;
            overflow: hidden;
            padding-top: 75%;
        }
    }
}
