:root {
    --color-gray: #555;
    --color-gray-alpha: rgba(85, 85, 85, 0.82);
    --color-gray-overlay-alpha: rgba(85, 85, 85, 0.73);
    --color-darker-gray: #323232;
    --color-dark-gray: #3d3d3c;
    --color-middle-gray: #5d5d5d;
    --color-light-gray: #adadad;
    --color-lighter-gray: #c1bfbd;

    --color-green: #0fb60f;
    --color-dark-blue: #6ea8fe;
    --color-middle-blue: #8bb9fe;
    --color-light-blue: #cde3ff;

    --color-moss-green: #4c5844;
    --color-middle-moss-green: #5a6a50;
    --color-darker-moss-green: #282e22;
    --color-light-moss-green: #889180;
    --color-middle-moss-yellow: #c4b550;
    --color-light-moss-yellow: #d0c15e;

    --overlay-color: #000000d9;
    --base-text-color: white;
}

