@import './../../../assets/scss/misc';

:host {
    background-color: var(--base-color);
    border: 1px solid var(--dark);
    border-left: 1px solid var(--light);
    border-top: 1px solid var(--light);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4px;
    text-align: center;
    width: 210px;

    &.selected {
        transform: translate(3px, 6px);
    }

    &.unselected {
        background-color: transparent;
        border-color: transparent;
        transform: scale(.85);
    }

    figcaption {
        height: 150px;
        width: 200px;
    }
}
