@import './../../../../../assets/scss/misc';

:host {
    display: block;

    @media (max-width: 768px) {
        width: 100%;
    }

    @include inverse-border();

    min-height: 150px;
    min-width: 200px;

    &.large-thumbnail {
        min-height: 240px;
        min-width: 320px;
    }
}
