<button type="button" (click)="closeOverlay()" title="Fechar">&#x2715;</button>

<a *ngIf="imagesDetails[currentImgIndex] as image"
    [href]="image.fullImageSrc"
    [title]="image.title"
    target="_blank">
    <img [src]="image.fullImageSrc" [alt]="image.alt" [title]="image.title">
    <div *ngIf="image?.description?.overlay as overlay">
        <p class="text-body-secondary" [innerHTML]="overlay"></p>
    </div>
</a>

<footer>
    <small class="text-body-secondary d-block mb-3">Clique e arraste para mover as imagens. Clique duas vezes para abrir outra imagem.</small>
    <div #divElement (mousedown)="mouseDownHandler(divElement, $event)">
        <figure thumbnail *ngFor="let image of imagesDetails; let i = index" (click)="changeImage(i)">
            <img thumbnailImg [src]="image.thumbnailSrc" [alt]="image.alt" [title]="image.title">
        </figure>
    </div>
</footer>
