@import './placeholder.mixins.scss';

:host {
    &:not(.line):not(.header):not(.image):not(.inverted):not(.paragraph):not(.full):not(.very):not(.long):not(.medium):not(.short) {
        @include placeholder-animation();

        max-width: 30rem;

        &.fluid {
            max-width: none;
        }

        & + & {
            margin-top: 2rem;
        }

        & + & {
            -webkit-animation-delay: .15s;
            animation-delay: .15s;
        }

        & + & + & {
            -webkit-animation-delay: .3s;
            animation-delay: .3s;
        }

        & + & + & + & {
            -webkit-animation-delay: .45s;
            animation-delay: .45s;
        }

        & + & + & + & + & {
            -webkit-animation-delay: .6s;
            animation-delay: .6s;
        }
    }
}

:host-context(.line) {
    position: relative;
    height: .85714286em;
    margin-bottom: .5em;

    &,
    &:after,
    & > :before {
        background-color: var(--base-color);
    }

    &:after,
    &:before {
        top: 100%;
        position: absolute;
        content: "";
        background-color: inherit;
        height: .5em;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }

    &:not(:first-child) {
        margin-top: .5em;
    }

    &:nth-child(1):after {
        width: 0%;
    }

    &:nth-child(2):after {
        width: 50%;
    }

    &:nth-child(3):after {
        width: 10%;
    }

    &:nth-child(4):after {
        width: 35%;
    }

    &:nth-child(5):after {
        width: 65%;
    }
}

:host-context(.header) {
    position: relative;
    overflow: hidden;

    &.line {
        margin-bottom: .64285714em;
    }

    &.line:after,
    &.line:before {
        height: .64285714em;
    }

    &.line:not(:first-child) {
        margin-top: .64285714em;
    }

    &.line:after {
        width: 20%;
    }

    &.line:nth-child(2):after {
        width: 60%;
    }

    &.line:first-child {
        height: .01px;
    }

    &:not(:first-child):before {
        height: 1.42857143em;
        content: "";
        display: block;
    }
}

:host-context(.image) {
    &.header .line {
        margin-left: 3em;
    }
    &.header .line:before {
        width: .71428571rem;
    }
    &.header:after {
        display: block;
        height: .85714286em;
        content: "";
        margin-left: 3em;
    }

    &.line:first-child {
        height: .01px;
    }

    &:not(:first-child):before {
        height: 1.42857143em;
        content: "";
        display: block;
    }
}

:host-context(.paragraph) {
    &.line:first-child {
        height: .01px;
    }

    &:not(:first-child):before {
        height: 1.42857143em;
        content: "";
        display: block;
    }
}

// & .full.line.line.line:after {
//     width: 0%;
// }
// & .very.long.line.line.line:after {
//     width: 10%;
// }
// & .long.line.line.line:after {
//     width: 35%;
// }
// & .medium.line.line.line:after {
//     width: 50%;
// }
// & .short.line.line.line:after {
//     width: 65%;
// }
// & .very.short.line.line.line:after {
//     width: 80%;
// }
